.container{
    text-align: center;
    font-style: italic;
    }

.header{
    color: brown;
    font-style: italic;
}

button{
    margin-top: 1%;
    color: wheat;
    background-color: brown;
    font-style: italic;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.published__title{
    font-weight: bold;
    color: brown;
}

.published__text{
    color: rgba(165, 42, 42, 0.562);
}

